@model List<testProject.Models.User>

@{
    ViewBag.Title = "Поиск по имени";
}
<style>
    div {
    width: 400px;
    height: 768px;

    //position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
</style>

<div class="searchPane">
    <span>Введите имя для поиска: </span>
    <input class="searchText"type="text"/>
    <input type="submit" value="Найти" onclick="search();"/>
    <br />
    <p>Содержимое базы:</p>
    <ul style="list-style-type: none;">
        @if (Model != null)
        {
            foreach (var u in Model)
            {
                <li>@u.id : @u.name</li>
            }
        }  
    </ul>
</div>
<div class="waitPane">
    <h2>Ожидайте результата запроса …</h2>
    <img src="../../Content/ajax-loader-large.gif" style="height: 30px;width: 30px;display: block;margin-left: auto;margin-right: auto;"/>
    <br />
    <div class="progress"></div>
</div>

<div class="resultsPane">
    <h2>Результаты поиска</h2>
    <p>В списке сначала будут выведены точные совпадения, а следом за ними те варианты, в которых встречается искомое значения, отсортированные по позиции искомого значения(чем ближе к началу, тем выше в списке). </p>
    <ul class="resultList" style="list-style-type: none;">
        
    </ul>
    <br />
    <input type="submit" value="Заново" onclick="location.reload();"/>

</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/ManualRequest.js")"></script>
    <script src="@Url.Content("~/Scripts/jqProgressWidjet.js")"></script>
    <script>
        var bar;

        $(document).ready(function () {
            $('.searchPane').show();
            $('.waitPane').hide();
            $('.resultsPane').hide();
            bar = $('.progress').progressbar({
                complete: function (event, data) {
                    //alert('Callback triggered');
                }
            })
            .bind('progressbarcomplete', function (event, data) {
                //alert('Native event. The progress bar value is ' + data.value);
            })
        })
        .data('progressbar');
        
        var intervalId;
        var taskId;

        function requestProcessing() {
            sendRequest('@Url.Action("IsTaskComplete", "Home")', callbackStatus, { id: taskId });
        }
        
        function callbackStatus(data) {
            var json = JSON.parse(data.responseText);
            if (json.status == 'done') {
                clearInterval(intervalId);
                sendRequest('@Url.Action("End", "Home")', processResult, { id: taskId });
                //window.bar.progressbar('option', 'value', 100);
            } else if (json.status == 'unknown_task') {
                clearInterval(intervalId);
                location.reload();
            }
            bar.progressbar('option', 'value', option('value') + 10);
        }
        function search() {
            $('.searchPane').hide();
            $('.waitPane').show();
            $('.resultsPane').hide();

            askServer($('.searchText').val());
        }

        function askServer(searchText) {
            sendRequest('@Url.Action("GetSearchResult", "Home")', startCallback, { nameToSearch: searchText });
        }
        
        function startCallback(data) {
            var json = JSON.parse(data.responseText);
            taskId = json.taskId;
            intervalId = setInterval(requestProcessing, 1000);
        }

        function processResult(data) {
            $('.searchPane').hide();
            $('.waitPane').hide();
            $('.resultsPane').show();

            var json = JSON.parse(data.responseText);
            ul = $('.resultList');

            $(json.items).each(function(index, item) {
                ul.append(
                    $(document.createElement('li')).text(item.id + ' : ' + item.name)
                );
            });
        }

    </script>
